
/*NAVBAR*/
.navbar-brand {
    color:#ffffe6;
    font-family: 'Josefin Slab', serif;
    font-size: 25px;
}

.nav-item a{
    color:black;
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
}


.fundo-nave{
    background-color:#b3b3ff;
}

/*BODY*/
.body{
    background-color: aliceblue;
}
/*CARROSEL*/
.imagem-carrossel {
    object-fit: cover;
    height: 350px;
}

.carousel-caption h5 {
    font-family: 'Josefin Slab', serif;
    font-size: 1.5em;
    
}


/*TEXTO PRINCIPAL*/

.text-center{
    font-family: 'Josefin Slab', serif;
}

.text-center p {
    font-size: 1.3em;
}

/*CARDS*/
.fonte-titulo-card {
    font-family: flood-std,sans-serif;
    font-size: 20px;
    color: darkblue;
}

.fonte-texto-card-footer {
    font-family: flood-std,sans-serif;
    font-size: 15px;
}
.imagem-card {
    object-fit: cover;
    height: 286px;
}

.borda-card {
    border-color: darkblue;
}

/*FOOTER*/

.footer{
    background-color:#b3b3ff;
}
.texto_footer p{
    font-family: 'Josefin Slab', serif;
    color: #ffffe6;
    font-size: 1.5em;
}
i.m-6{
    font-size: 3em;
}
.p-2{
    text-align: center;
}

.p-2 a{
    color: #ffffe6;
}
.p-2 img{
    width: 32.5%;;
}

h2{
    font-family: 'Josefin Slab', serif;
    color: #ffffe6;
    font-size: 1.5em;
}

.p-2 p{
    font-family: 'Josefin Slab', serif;
    color: #ffffe6;
}